<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Connection" value="127.0.0.1"/>
    <add key="Database" value="hotfixes"/>
    <add key="Username" value="root"/>
    <add key="Password" value="root"/>
    <add key="startCaschost" value="1899999"/>
    <add key="iconfiledata" value="136235"/>
  </appSettings>
</configuration>