<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="Connection" value="127.0.0.1"/>
    <add key="Database" value="hotfixes"/>
    <add key="Username" value="root"/>
    <add key="Password" value="root"/>
    <add key="startCaschost" value="1899999"/>
    <add key="iconfiledata" value="136235"/>
    <add key="itemDisplayInfoLastOffiId" value="168092"/>
    <add key="itemMaterialResLastOffiId" value="128459"/>
    <add key="modelFileDataLastOffiId" value="1865786"/>
    <add key="textureFileDataLastOffiId" value="1868420"/>
    <add key="FileDataID" value="FileDataId"/>
    <add key="Path" value="Path"/>
    <add key="Table" value="root_entries"/>
  </appSettings>
</configuration>
